<!DOCTYPE html>
<html>
<head>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

</head>
<style>
	body{
	background-color: #afdaff;
}

h1{
	font-size: 3em;
	font-weight: bold;
}


h1 b{
	font-size: 2em;
	font-weight: bold;
}

.contenido{
	background-color: white;
	padding: 40px;
	margin: 0 auto;
	margin-top: 200px;
	
}
</style>
<body>
 <!--Script get ip with JavaScript by David Porras-->
<div class="container text-center">
<div class="contenido">
	<h3>السلام عليكم ورحمة الله وبركاته </h3> 
	<p>عذرا لا يمكنك مشاهدة او تحميل هذا الملف  لانك لست عضو في هذا الموقع</p>
	<img width="80" height="80" src="https://seeklogo.com/images/A/Adobe_PDF-logo-84B633809C-seeklogo.com.png" > sha.pdf
	</br></br>
	<a href="/createAccount"><button class="btn btn-danger">إنشاء حساب</button></a>
</div>
</div>
<!--Script get ip with JavaScript by David Porras-->

<script type="text/javascript">

 
                
</script>
 
</body>
</html>
